// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.logo {
  width: 10rem;
  height: 2.5rem;
  background: url('./~/img/logo.png') 0 0 no-repeat;
  background-size: 100%;
}

.logo-footer {
  width: 10rem;
  height: 2.5rem;
  background: url('./~/img/logo.png') 0 0 no-repeat;
  background-size: 100%;
}

.organizers {
  list-style: none !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

header .list-unstyled a:hover {
  text-decoration: none;
  color: rgb(247, 219, 100);
}

.header-text {
  height: 8.5rem;
  line-height: 1.5 !important;
  overflow: hidden;
}

.text-orange {
  color: rgb(247, 219, 100) !important;
}

.conditions {
  cursor: pointer;
  background-color: rgb(247, 223, 100);
  color: black;
  border: none;
}

.conditions:hover {
  background-color: rgb(247, 223, 100);
  color: black;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.categories {
  display: block;
  text-align: center;
  padding-top: 1rem;
}

.categories a {
  background-color: rgb(88, 89, 94);
  border: none;
  border-radius: 0.6rem;
}

.categories a:hover {
  background-color: rgb(88, 89, 94);
  border: none;
}

.categories .active {
  background-color: #f7df64 !important;
  color: black !important;
}

/* Categories list */
@media (min-width: 544px) {
  .categories a {
    font-size: 0.5rem;
    margin: 0 0.25rem;
  }
}

@media (min-width: 768px) {
  .categories a {
    font-size: 0.75rem;
    margin: 0 0.5rem;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  .categories a {
    font-size: 1rem;
    margin: 0 0.75rem;
  }
}

@media (min-width: 1200px) {
  .categories a {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
}

.company {
  height: 22rem;
}

.company {
  .card-body {
    height: 11rem;
    padding: 0.5rem 0;
    overflow: hidden;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    display: block;
    clear: both;
  }
}

.company-name {
  font-weight: bold;
  height: 2.7rem;
  overflow: hidden;
}

.company-category {
  color: gray;
  text-decoration: underline !important;
}

.company-desc {
  height: 4.6rem;
  overflow: hidden;
}

.company-details {
  font-size: 0.8rem;
}

.album {
  min-height: 40rem;
  padding-top: 1rem !important;
}

.album {
  .col-md-4 img {
    max-width: 100%;
    max-height: 100%;
  }
}

.card-img {
  width: 100%;
  height: 11rem;
  line-height: 10rem;
  padding: 0.5rem;
}

.card-left {
  padding-right: 0 !important;
}

.card-right {
  padding: 0 !important;
}

.card-right {
  .btn-group {
    margin: 0 auto;
  }
}

.score {
  padding: 1rem;
  text-align: center;
}

.like {
  width: 4rem;
  height: 4rem;
  background: url('./~/img/like2.png') 0 0 no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.like:hover {
  background: url('./~/img/like.png') 0 0 no-repeat;
  background-size: 100%;
}

.pagination-block {
  margin: 2rem 0;
}

.pagination {
  //width: 19rem;
  margin: 2rem auto 0;
}
