header .list-unstyled a:hover {
  text-decoration: none;
  color: rgb(247, 219, 100);
}

.text-orange {
  color: rgb(247, 219, 100) !important;
}

.conditions {
  cursor: pointer;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.categories {
  display: block;
  text-align: center;
  padding: 2rem;
}

/* Categories list */
.categories a {
  color: #5a85ae;
  font-family: Arial, serif !important;
  text-transform: uppercase;
  text-decoration: underline;
}
@media (min-width: 544px) {  
  .categories a {
    font-size:0.5rem;
    margin: 0 0.25rem;
  }
}
@media (min-width: 768px) {  
  .categories a {
    font-size:0.75rem;
    margin: 0 0.5rem;
  }
}
@media (min-width: 992px) { 
  .categories a {
    font-size:1rem;
    margin: 0 0.75rem;
  }
}
@media (min-width: 1200px) {  
  .categories a {
    font-size:1.5rem;
    margin: 0 1rem;
  }
}

.company {
  height: 26rem;
}

.company .card-body {
  padding: 0.5rem 0;
}

.company ul {
  padding: 0;
  list-style: none;
}

.company li {
  display: block;
  clear: both;
}

.company .card-body {
  height: 10rem;
  overflow: hidden;
}

.company-name {
  font-weight: bold;
}

.company-category {
  color: gray;
}

.company-category {
  text-decoration: underline !important;
}

.company-desc {
  height: 4.6rem;
  overflow: hidden;
}

.company-details {
  font-size: 0.8rem;
}

.album {
  min-height: 30rem;
}

.album .col-md-4 img {
  max-width: 100%;
  height: 230px;
}

.card-left {
  padding-right: 0 !important;
}

.card-right {
  padding: 0 !important;
}

.card-right .btn-group {
  margin: 0 auto;
}

.score {
  padding: 1rem;
  text-align: center;
}

.like {
  width: 4rem;
  height: 4rem;
  background: url('../img/like2.png') 0 0 no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.like:hover {
  background: url('../img/like.png') 0 0 no-repeat;
  background-size: 100%;
}

.pagination-block {
  margin: 2rem 0;
}

.pagination {
  width: 19rem;
  margin: 2rem auto 0;
}
